:root {
    --color-primary:#EAAB0A;
    --color-secundary:#FFC501;
    --text-primary:#FFF;
    --text-secundary:#000;
    --bg-footer:#000;

}

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

html{
    font-size: 62,5%;
}

nav {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: var(--text-primary);
    font-size: 4rem;
    height: 5rem;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.08px;
    text-transform: uppercase;

}

.accent {
    color: var(--color-primary);

}

.subtitle {
    display: block;
    margin-top: -0.5px;
    color: var(--text-primary);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

}

ul {
    display: flex;
    list-style: none;
    height: 5rem;
    align-items: center;

}

a {
    text-decoration: none;
    color:var(--text-primary);
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 3rem;
    text-transform: uppercase;
    transition: color 0.8s linear ;

}

a:hover {
    color:var(--color-secundary);
    
}

.selected {
    color: var(--color-primary);
}

header {
    background: url(./images/header.png) lightgray 50% / cover no-repeat;
    width: 100%;
    height: 60rem;
    margin-top: -9rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

header > h2 {
    color: var(--color-primary);
    font-size: 12rem;
    font-weight: 900;
    margin-top: 18rem;
    margin-right: 20rem;

}

header > p {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: 400;
    width: 64.5rem;
    height: 6.7rem;
    margin-right: 15rem;
}

.section1 {
    position: relative;
    width: 100%;
    height: 715px;
    padding-top: 50px;
}

.section1 > h4 {
    position: absolute;
    font-size: 2.5rem;
    font-weight: 800;
    width: 43rem;
    top: 15rem;
    left: 35rem;
}

.section1 > H4 > small {
    font-weight: 400;
    margin-top: 3rem;
    display: block;
}

.section1 > div {
    background: url(./images/linhas.svg) center no-repeat;
    position: absolute;
    right: 15rem;
}

.pessoa {
    margin-left: 18rem;
}

.section2 {
    background-color: var(--color-secundary);
    height: 56.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}   

.section2 > h4 {
    font-size: 2.5rem; 
    font-weight: 800;
}

.section3 {
    height: 83.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background: var(--bg-footer);
    width: 100%;
    height: 30rem;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
}

footer > div > h2 {
        color: var(--text-primary);
        font-size: 4rem;
        height: 5rem;
        font-weight: 900;
        letter-spacing: -0.08px;
        text-align: left;
        text-transform: uppercase;
}

footer > div {
    display: flex;
    justify-content: space-between;
    width: 1149.402px;
}

footer > div > form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer > div > form > label {
    display: block;
    width: 16rem;
    font-size: 1.5rem;
    font-weight: 400;
}

footer > div > form > input {
    width: 312px;
    height: 50px;
    background-color: var(--color-primary);
    padding: 0 0.5rem;
}

footer > div > form > input::placeholder {
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}

footer > div > form > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

footer > hr {
    width: 1149.402px;
    height: 0px;
    stroke-width: 0.5px;
    stroke: var(--text-primary);
}

footer > p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.3;
    text-transform: uppercase;
}

footer > p > span {
    color:var(--color-primary);
}
